---
apiVersion: batch/v1
kind: Job
metadata:
  name: test-vault-job
spec:
  template:
    spec:
      serviceAccountName: vault-approved
      imagePullSecrets:
      - name: dockerlogin-cred
      containers:
      - name: test-vault-job
        image: 668139184987.dkr.ecr.us-east-1.amazonaws.com/docker-hub/library/alpine
        command: ["sh", "-c","echo ${MY_SECRET} | grep happy"]
        env:
        - name: MY_SECRET
          value: "vault:secret/kubernetes/kubernetes_{{CLUSTER}}/shared/mitra#test"
      restartPolicy: OnFailure
  backoffLimit: 3
